.content{
     background: url(https://wallpapercave.com/wp/wp9602380.jpg);
     background-size: cover;
}

.username{
     color: #fff;
}

.apps{
     color: #fff;
     background: url(https://lh3.googleusercontent.com/pw/AM-JKLVXaRAJZvQmvKcX1JXfHM5MRFLTrbDctoA36xvXlmuPgR2HYXkc2MksaPrdEK1I8XySREo3YqeMPq9yYVq5-m8GCaZT8u_xEBrjRuuT98x5MxpmtH0ZCg-B-m-2AXvCwQepQJyRR1iLV5s1pJRStl1R=s720-no);
     border: 2px solid #fff;
}

.apps:hover{
     color: #000;
     background-color: #fff;
}
