.content{
     background: url(https://1.bp.blogspot.com/-SrqObjnfkh8/YQlPSQBJ3xI/AAAAAAAAAQ4/sHEssvl04IsAfMk1XdSCqKbAU7DwYl8rwCLcBGAsYHQ/s320/Logopit_1627947963476.jpg);
     background-size: cover;
}

.username{
     color: #fff;
}

.apps{
     color: #fff;
     background-color: none;
     border: 2px solid #fff;
}

.apps:hover{
     color: #000;
     background-color: #fff;
}
