.content{
     background: url(https://wallpapercave.com/wp/wp9602380.jpg);
     background-size: cover;
}

.username{
     color: #fff;
}

.apps{
     color: #fff;
     background: url(https://photos.app.goo.gl/CpSr2Qd7Hs54rAr6A);
     border: 2px solid #fff;
}

.apps:hover{
     color: #000;
     background-color: #fff;
}
