* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
}

.bi-eye-slash{
    font-size: 17px;
    margin-left: -35px;
    cursor: pointer;
}

.idioma{
               color: #9C9C9C;
               font-size: 13px;
          }
          
           .desing{
               margin-top: 12px;
          }

.instagram-wrapper {
     margin-top: -30px;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
}

.instagram-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 3.3rem;
}

.instagram-logo-login{
     height: 3.3rem;
     margin-top: 27px;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
    
}

.profile-photo-login{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 12px;
}

.profile-photo-login img {
    height: 6rem;
    
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-entrar {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
    border: none;
    width: 250px;
    margin-top: 15px;
}

.senha{
     background-color: #fff;
    color: #000;
    padding: 8px;
    border-radius: 4px;
    border: 1.5px solid #D6D6D6;
    width: 250px;
    margin-top: 12px;
    margin-bottom: 10px;
    margin-left: -15px;
}

.senha:focus{
               box-shadow: 0 0 0 0;
               border: 1.5px solid #D6D6D6;
               outline: 0;
          }
          
          .forget{
               text-decoration: none;
               color: #0095f6;
               font-size: 13px;
               margin-left: 138px;
               cursor: pointer;
          }

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    visibility: hidden;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

 .empresa{
               margin-top: -30px;
          }
          
          .p1{
               color: #9c9c9c;
               font-size: 13px;
               font-weight: 400;
           }
           
           .p2{
                color: #000;
               font-size: 15px;
               font-weight: 500;
           }
.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}

/* media queries */

@media (max-width: 1025px) {
    .instagram-wrapper {
        width: 90%;
    }
    
}

@media (max-width: 650px) {
    body {
        background-color: #fff;
    }

     .get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }

    .group {
        border: 1px solid transparent;
    }
}